html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

.datingCard {
  position: absolute;
  width: 15rem;
  height: 20rem;
  border-radius: 0.5rem;
}

.inputField {
  border: 0.1rem solid rgb(185, 185, 185);
  border-radius: 0.25rem;
  transition: border-color 0.2s;
}

.inputField_error {
  border-color: rgb(255, 97, 97);
}

.notifications_active {
  color: #fb4929;
}
