html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
}

img {
  width: 100%;
  max-width: 100%;
}

.datingCard {
  position: absolute;
  width: 15rem;
  height: 20rem;
  border-radius: 0.5rem;
}
