html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  background-color: #fefae0;
  color: #311600;
  font-family: "Balsamiq Sans", sans-serif;
}

img {
  max-width: 100%;
}

input {
  font-family: inherit;
}
